<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://raw.githubusercontent.com/zhuxiujia/Rbatis/master/rbatis-mapper.dtd">
<mapper>
    <!--logic_enable 逻辑删除字段-->
    <!--logic_deleted 逻辑删除已删除字段-->
    <!--logic_undelete 逻辑删除 未删除字段-->
    <!--version_enable 乐观锁版本字段,支持int,int8,int16,int32,int64-->
    <result_map id="BaseResultMap">
        <id column="id" property="id"/>
        <result column="name" property="name" lang_type="string"/>
        <result column="pc_link" property="pcLink" lang_type="string"/>
        <result column="h5_link" property="h5Link" lang_type="string"/>
        <result column="remark" property="remark" lang_type="string"/>
        <result column="version" property="version" lang_type="int" version_enable="true"/>
        <result column="create_time" property="createTime" lang_type="time"/>
        <result column="delete_flag" property="deleteFlag" lang_type="int" logic_enable="true" logic_undelete="1" logic_deleted="0"/>
    </result_map>
   <select id="select_by_condition" result_map="BaseResultMap">
        <bind name="pattern" value="'%' + name + '%'"/>
        select * from biz_activity
        <where>
            <if test="name != null">and name like #{pattern}</if>
            <if test="startTime != null">and create_time >= #{startTime}</if>
            <if test="endTime != null">and create_time &lt;= #{endTime}</if>
        </where>
        order by create_time desc
        <if test="page != null and size != null">limit #{page}, #{size}</if>
    </select>
    <select id="countByCondition">
        select count(id) from biz_activity where delete_flag=1
        <if test="name != null">
            and name like concat('%',#{name},'%')
        </if>
        <if test="startTime != null">
            and create_time >= #{startTime}
        </if>
        <if test="endTime != null">
            and create_time &lt;= #{endTime}
        </if>
    </select>
    <select id="selectAll">
        select * from biz_activity where delete_flag=1 order by create_time desc
    </select>
    <select id="selectByUUID">
        select * from biz_activity
        where uuid = #{uuid}
        and delete_flag = 1
    </select>
    <select id="selectById">
        select * from biz_activity
        where id = #{id}
        and delete_flag = 1
    </select>
    <select id="selectByIds">
        select * from biz_activity
        where delete_flag = 1
        <foreach separator="," collection="ids" item="item" index="index" open=" and id in (" close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectByIdMaps">
        select * from biz_activity
        where delete_flag = 1
        <foreach separator="," collection="ids" item="item" index="index" open=" and id in (" close=")">
            #{item}
        </foreach>
        <foreach separator="," collection="ids" item="item" index="index" open=" and delete_flag in (" close=")">
            #{index}
        </foreach>
    </select>
    <update id="deleteById">
        update biz_activity
        set delete_flag = 0
        where id = #{id}
    </update>
    <update id="updateById">
        update biz_activity
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="pcLink != null">pc_link = #{pcLink},</if>
            <if test="h5Link != null">h5_link = #{h5Link},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="deleteFlag != null ">delete_flag = #{deleteFlag},</if>
        </set>
        where id = #{id} and delete_flag = 1
    </update>
    <insert id="insert">
        insert into biz_activity
        <trim prefix="(" suffix=")" suffix_overrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="pcLink != null">pc_link,</if>
            <if test="h5Link != null">h5_link,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="deleteFlag != null">delete_flag,</if>
        </trim>

        <trim prefix="values (" suffix=")" suffix_overrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="pcLink != null">#{pcLink},</if>
            <if test="h5Link != null">#{h5Link},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="deleteFlag != null">#{deleteFlag},</if>
        </trim>
    </insert>

    <select id="choose" result_map="BaseResultMap">
        SELECT * FROM biz_activity
        <choose>
            <when test="deleteFlag > 1">WHERE delete_flag > 1</when>
            <when test="deleteFlag == 1">WHERE delete_flag = 1</when>
            <otherwise>WHERE delete_flag = #{deleteFlag}</otherwise>
        </choose>
    </select>

    <sql id="links">
        pc_link,h5_link
        <!--不启用TypeConvert的话，使用${} 而不是 #{}-->
        <if test="column != null">,${column}</if>
    </sql>

    <select id="selectLinks">
        select
        <include refid="links"/>
        from biz_activity where delete_flag = 1
    </select>
</mapper>